{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <article>
            <h2>{{product.name}}</h2>
            <h4>
                {% if product.waterProof %}
                    GoreTex
                {% else %}
                    Not Waterproof
                {% endif %}
            </h4>
            <h6>The color of this Jacket is: {{product.color}}</h6>
            {% if product.owner == userId %}
                <div class="btn-group">
                    <a class="btn btn-primary" href="/products/edit/{{product.id}}">Edit</a>
                    <form action="/products/{{product.id}}?_method=DELETE" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            {% endif %}
        </article>
         <hr>
        <h6 class="card-product">
                            {% if product.updated %}
                                For this season, these are the following updates
                                <br>
                                newer face fabric: 40 denier
                                <br>
                                newer fit and aesthetic redesign
                            {% else %}
                                It hasn't been updated yet, maybe next year something will change
                            {% endif %}
                        </h6>
        <hr>
        {% if loggedIn %}
            <div class="col-md-6">
                <form action="/comments/{{product.id}}" method="POST">
                    <fieldset>
                        <legend>Add Comment</legend>
                        <label class="form-label">comment:</label>
                        <input class="form-control" type="text" placeholder="Create a new comment" name="note" required>
                    </fieldset>
                    <input class="btn btn-success" type="submit" value="add comment">
                </form>
            </div>
        {% else %}
            <div class="col-md-6">
                <small>If you'd like to leave a comment, please log in...</small>
            </div>
        {% endif %}
        <hr>
        {% if product.comments.length > 0%}
            <div class="container-sm justify-content-center">
                <div class="col-md-8 col-lg-6">
                    {% for comment in product.comments %}
                        {% render '../comment.liquid', comment: comment, userId: userId, product: product %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <small>There are no comments yet</small>
        {% endif %}
    </div>
{% endblock %}